library.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="user_id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:date" name="dob"/>
              <xs:element type="xs:string" name="email_id"/>
              <xs:element type="xs:string" name="fav_book"/>
              <xs:element type="xs:string" name="time_to_read"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>